body {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.creditos a {
  color: black;
  text-decoration: underline;
}

.creditos a:hover {
  text-decoration: none;
}

.main-game-container {
  width: 768px;
  height: 768px;
  padding: 5px;
  overflow: hidden;
}

.main-menu {
  width: 50%;
  margin: 0 auto;
  display: flex;
  height:100%;
  flex-direction: column;
}

.select-screen {
  height: 100%;
}

.main-menu header, .select-screen header {
  height: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.main-menu nav {
  width: 100%;
  height:50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.select-screen header {
  height: 20%;
}
.select-screen section {
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-screen footer {
  height: 10%;
  width: 100%;
}

.select-title {
  padding:0 20px 0;
  box-sizing: border-box;
}

.threads {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.thread {
  position: absolute;
  bottom: 0;
  color: white;
}

.active {
  bottom: 35px;
}

#btn-0 {
  right: 0;
  background-color: #000;
}
#btn-1 {
  right: 35px;
  background-color: #9D9D9D;
}
#btn-2 {
  right: 70px;
  color: black;
  background-color: #fff;
}
#btn-3 {
  right: 105px;
  background-color: #BE2633;
}
#btn-4 {
  right: 140px;
  background-color: #E06F8B;
}
#btn-5 {
  right: 175px;
  background-color: #493C2B;
}
#btn-6 {
  right: 210px;
  background-color: #A46422;
}
#btn-7 {
  right: 245px;
  background-color: #EB8931;
}
#btn-8 {
  right: 280px;
  background-color: #F7E26B;
}
#btn-9 {
  right: 315px;
  background-color: #2F484E;
}
#btn-A {
  right: 350px;
  background-color: #44891A;
}
#btn-B {
  right: 385px;
  background-color: #A3CE27;
}
#btn-C {
  right: 420px;
  background-color: #1B2632;
}
#btn-D {
  right: 455px;
  background-color: #005784;
}

#btn-E {
  right: 490px;
  background-color: #31A2F2;
}
#btn-F {
  right: 525px;
  background-color: #B2DCEF;
}

.disabled {
  opacity: 0.1;
  pointer-events: none;
}

.hidden {
  display:none !important;
}