body {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.creditos a {
  color: black;
  text-decoration: underline;
}

.creditos a:hover {
  text-decoration: none;
}

.main-game-container {
  width: 768px;
  height: 768px;
  padding: 5px;
  overflow: hidden;
}

.main-menu {
  width: 50%;
  margin: 0 auto;
  display: flex;
  height:100%;
  flex-direction: column;
}

.select-screen {
  height: 100%;
}

.main-menu header, .select-screen header {
  height: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.main-menu nav {
  width: 100%;
  height:50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.select-screen header {
  height: 18%;
}
.select-screen section {
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-screen footer {
  height: 12%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.select-title {
  padding:0 20px 0;
  box-sizing: border-box;
}

.threads {
  width: 75%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.thread {
  color: white;
}

.btn-0 {
  background-color: #000;
}
.btn-1 {
  color: black;
  background-color: #9D9D9D;
}
.btn-2 {
  color: black;
  background-color: #fff;
}
.btn-3 {
  background-color: #BE2633;
}
.btn-4 {
  background-color: #E06F8B;
}
.btn-5 {
  background-color: #493C2B;
}
.btn-6 {
  background-color: #A46422;
}
.btn-7 {
  background-color: #EB8931;
}
.btn-8 {
  color: black;
  background-color: #F7E26B;
}
.btn-9 {
  background-color: #2F484E;
}
.btn-A {
  background-color: #44891A;
}
.btn-B {
  color: black;
  background-color: #A3CE27;
}
.btn-C {
  background-color: #1B2632;
}
.btn-D {
  background-color: #005784;
}
.btn-E {
  background-color: #31A2F2;
}
.btn-F {
  color: black;
  background-color: #B2DCEF;
}

.disabled {
  opacity: 0.1;
  pointer-events: none;
}

.hidden {
  display:none !important;
}

.invisible {
  visibility: hidden !important;
  pointer-events: none;
  position: absolute !important;
}

#game-container {
  position: relative;
}

.ingame-btn {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.color-picker {
  position: absolute;
    left: 30px;
    bottom: 30px;
}
input[type="radio"] {}