body {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.creditos a {
  color: black;
  text-decoration: underline;
}

.creditos a:hover {
  text-decoration: none;
}

.main-game-container {
  width: 768px;
  height: 768px;
  overflow: hidden;
}

.main-menu {
  width: 50%;
  margin: 0 auto;
  display: flex;
  height:100%;
  flex-direction: column;
}

.select-screen {
  height: 100%;
}

.main-menu header, .select-screen header {
  height: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.main-menu nav {
  width: 100%;
  height:50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.select-screen header {
  height: 20%;
}
.select-screen section {
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-screen footer {
  height: 100%;
}